---
import CardInfo from "../CardInfo.astro";

const cards = [
  {
    icon: {
      name: "email",
      size: 34,
      color: "#e4a622",
    },
    name: "Web Developer",
    description: "I'm a web developer",
  },
  {
    icon: {
      name: "email",
      size: 34,
      color: "#e4a622",
    },
    name: "Web Developer",
    description: "I'm a web developer",
  },
  {
    icon: {
      name: "email",
      size: 34,
      color: "#e4a622",
    },
    name: "Web Developer",
    description: "I'm a web developer",
  },
  {
    icon: {
      name: "email",
      size: 34,
      color: "#e4a622",
    },
    name: "Web Developer",
    description: "I'm a web developer",
  },
  {
    icon: {
      name: "email",
      size: 34,
      color: "#e4a622",
    },
    name: "Web Developer",
    description: "I'm a web developer",
  },
  {
    icon: {
      name: "email",
      size: 34,
      color: "#e4a622",
    },
    name: "Web Developer",
    description: "I'm a web developer",
  },
];
---

<h1 class="text-3xl font-semibold mb-2 mx-4">What I'm Doing</h1>
<CardInfo cards={cards} />
