---
import AboutDoing from "../components/sections/AboutDoing.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Portfolio">
  <Title title="About Me" />
  <section class="overflow-y-auto h-[80%] flex flex-col gap-4">
    <p class="mx-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
      reprehenderit voluptate atque, numquam maxime sint? Dolore illum eaque
      repudiandae! Vero sequi dolore, consequatur perspiciatis dolorem aperiam
      aut ad cumque consectetur!
    </p>
    <p class="mx-4 mb-4">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit
      voluptatem laboriosam commodi sit asperiores dignissimos molestias! Quo,
      rerum ea. Magnam iure molestiae amet alias aliquid tempore dolorum fugiat,
      eum quasi? Impedit vitae dolor nobis aut maxime provident quidem ipsum
      animi eveniet porro odit ullam perferendis sit assumenda corrupti et cum
      neque excepturi hic, dignissimos, fuga nesciunt eos deleniti tenetur?
      Esse.
    </p>
    <AboutDoing />
  </section>
</Layout>
