---
import { Image } from "astro:assets";

const { username, userimage, usercharge } = Astro.props;
---

<article class="p-8 pb-6 mb-4 bg-[#373737] rounded-3xl flex justify-center">
  <Image
    src={userimage}
    alt="user"
    width="120"
    height="120"
    style={{ borderRadius: "50%" }}
  />
</article>
<section>
  <h3 class="text-xl text-center mb-2 font-semibold">
    {username}
  </h3>
  <p
    class="text-sm opacity-70 text-center bg-[#373737] p-2 rounded-3xl font-semibold"
  >
    {usercharge}
  </p>
</section>
